@import "../../../base/mixins.scss";

#edit-hotspot-modal .modal__inner {
    text-align: left;
    color: black;
    padding: 2rem;
    width: calc(260px + 6rem);
 
    .edit-hotspot-modal {
       &__title {
          text-align: center;
          font-size: 1.75rem;
          margin-block-start: 0.6rem;
       }
 
       &__list {
          
       }
 
       &__qr .qr-code {
          @include abs-center;
          outline: solid 3px white;
       }
 
       &__qr .qr-surround {
          margin-inline: auto;
          display: block;
          z-index: 12;
          width: 15rem;
 
          path {
             fill: var(--brand-color);
          }
 
          circle {
             stroke: var(--brand-color);
          }
       }
 
       &__footer {
          gap: 0.2rem 1rem;
          display: grid;
          text-align: left;
          align-items: center;
          grid-template-areas: "img strong" "img p";
          grid-template-columns: repeat(2, auto);
       }
 
       &__footer img {
          grid-area: img;
       }
 
       &__footer strong {
          font-size: 1.25rem;
          grid-area: strong;
       }
 
       &__footer p {
          font-size: 1rem;
          line-height: 1;
          grid-area: p;
       }
    }
 }
 