@import "../../../base/mixins.scss";

.checkbox {
   display: flex;
   height: 25px;
   align-items: center;
   position: relative;
   padding-left: 30px;
   font-size: 0.9rem;
   color: #888888;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

   &__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked + .checkbox__box::after {
         opacity: 1;
      }
   }

   &__box {
      --size: 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
      height: var(--size);
      width: var(--size);
      border-radius: 50%;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      &:after {
         --size: 1.5rem;
         content: "";
         width: var(--size);
         height: var(--size);
         scale: 0.7;
         background-color: var(--brand-color);
         opacity: 0;
         border-radius: 50%
      }
   }
}
