.btn-qr-code {
   border-radius: 50%;
   width: 3rem;
   height: 3rem;
   border: none;
   position: relative;
   font-size: 1.5rem;
   background-color: white;
   color: var(--clr-grey600);
   box-shadow: 3px 3px 5px var(--clr-grey800);
   float: right;
   margin-top: 0.7rem;
   margin-right: 0.7rem;
}

.btn-qr-code .btn-overlay {
   position: absolute;
   top: 0;
   left: 0;
}
