/*Viewer setup*/
.reydar-model-viewer {
   width: 100vw;
   height: 100vh;
   position: fixed;
   max-height: -moz-available;
   max-height: -webkit-fill-available;
   background: var(--background-color);
   background-repeat: no-repeat;
   font-weight: normal;
   color: white;
   overflow: hidden;
}

model-viewer {
   width: 100vw;
   height: 100vh;
   max-height: -moz-available;
   max-height: -webkit-fill-available;
}
